version: '3'

services:
  nginx:
    image: nginx:stable-alpine
    ports:
      - '80:80'
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
  node-app1:
    image: node-app
    build: .
    env_file:
      - ./.env
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      DB_HOST: mysql_slave
      DB_PORT: 3306
      DB_USERNAME: 'mydb_slave_user'
      DB_PASSWORD: 'mydb_slave_pwd'
      DB_DATABASE: 'mydb'
      PORT: 3000
      JWT_SECRET: 'thisisasamplesecret'
      JWT_ACCESS_EXPIRATION_MINUTES: 30
      JWT_REFRESH_EXPIRATION_DAYS: 30
    command: npm run dev
    depends_on:
      - mysql_slave  

  node-app2:
    image: node-app
    build: .
    env_file:
      - ./.env
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      DB_HOST: mysql_slave2
      DB_PORT: 3306
      DB_USERNAME: 'mydb_slave_user'
      DB_PASSWORD: 'mydb_slave_pwd'
      DB_DATABASE: 'mydb'
      PORT: 3333
      JWT_SECRET: 'thisisasamplesecret'
      JWT_ACCESS_EXPIRATION_MINUTES: 30
      JWT_REFRESH_EXPIRATION_DAYS: 30
    command: npm run dev
    depends_on:
      - mysql_slave2  

  mysql_master:
    image: mysql:8
    env_file:
      - ./master/mysql_master.env
    container_name: "mysql_master"
    restart: "no"
    ports:
      - 4406:3306
    volumes:
      - ./master/my.cnf:/etc/mysql/my.cnf
      - ./master/data:/var/lib/mysql

  mysql_slave:
    image: mysql:8
    env_file:
      - ./slave/mysql_slave.env
    container_name: "mysql_slave"
    restart: "no"
    ports:
      - 5506:3306
    depends_on:
      - mysql_master
    volumes:
      - ./slave/my.cnf:/etc/mysql/my.cnf
      - ./slave/data:/var/lib/mysql
  
  mysql_slave2:
    image: mysql:8
    env_file:
      - ./slave2/mysql_slave.env
    container_name: "mysql_slave2"
    restart: "no"
    ports:
      - 6606:3306
    depends_on:
      - mysql_master
    volumes:
      - ./slave2/my.cnf:/etc/mysql/my.cnf
      - ./slave2/data:/var/lib/mysql

  redis:
    image: redis
